@reference "../global.css";

.conteiner {
    @apply relative min-h-screen w-full bg-Tomescuro1 text-white font-sans overflow-hidden px-8 md:px-20 lg:px-28 xl:px-36 py-8 selection:bg-Tomclaro1/40;
}

/* --- HEADER --- */
.header {
   @apply fixed top-0 left-0 w-full z-50 
          px-8 md:px-20 lg:px-28 xl:px-36 py-4
          flex items-center;
}

.headerConteudo {
    @apply relative flex items-center w-full gap-30 
          backdrop-blur-md 
           border border-Tomclaro1/25 shadow-md rounded-full px-6 py-2;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 
        0 30px 60px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.2),
        inset 0 -1px 0 rgba(255, 255, 255, 0.05);
}   


.logo {
    @apply flex-1 flex justify-start;
}

.logotexto {
    @apply text-[22px] font-bold tracking-widest text-Tomclaro1 uppercase select-none;
}

.nav {
    @apply flex-none;
}

.menu {
    @apply flex flex-row items-center gap-12 text-[20px] font-medium text-[#FFFFFF];
}

.animacaomenuhover {
    @apply hover:text-Tomclaro1 transition-colors duration-200 relative pb-1 after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[2px] after:bg-Tomclaro1 hover:after:w-full after:transition-all after:duration-300;
}

.login {
    @apply flex-1 flex justify-end;
}

.botaologincadastre {
    @apply inline-block px-10 py-3.5 bg-linear-to-r from-Tomclaro1 to-Tomclaro2 text-white font-medium rounded-full shadow-lg shadow-Tomclaro1/20 hover:opacity-90 transition-opacity duration-300 text-base;
}


/* TÍTULO DA SEÇÃO */

.tituloSecao {
    @apply text-[36px] md:text-[42px] font-bold text-center text-white mt-30;
}

/* CARD */

.card {
    @apply grid grid-cols-1 md:grid-cols-3 gap-20 mt-16;
}

.cardindividual {
     @apply relative flex flex-col gap-3 rounded-2xl p-6 transition-all duration-300 hover:border-Tomclaro1/50 hover:-translate-y-1;
      background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 
        0 30px 60px rgba(0, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.2),
        inset 0 -1px 0 rgba(255, 255, 255, 0.05);
}

.iconecard {
    @apply flex items-center justify-center w-11 h-11 rounded-xl bg-linear-to-br from-Tomclaro1 to-Tomclaro2 text-white;
}

.textocard {
    @apply text-white text-[25px] font-medium leading-relaxed ;
}

.linhacard {
    @apply h-[3px] bg-Tomescuro1 rounded-full mt-auto gap-6;
}

/* ASTRONAUTA */

.containerAstronauta {
    @apply flex justify-start mt-20 pb-10;
}

.astronauta {
    @apply w-64 h-64 md:w-80 md:h-80 border-2 border-dashed border-Tomclaro2/30 rounded-2xl flex items-center justify-center text-xs text-gray-400;
}