@import "tailwindcss";

@theme {

    /*Tons Principais*/
    --color-Tomescuro1: #0e0038;
    --color-Tomescuro2: #0d0038;
    --color-Tomclaro1: #4747f2;
    --color-Tomclaro2: #5555cb;

    /*Fonte*/



    
}